body {
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #212529;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.case .text h2 a {
    color: #000000;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar>.container, .navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-weight: 900;
    font-size: 26px;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1;
}

.navbar-brand i {
    font-style: normal;
    color: #ffd369;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.text-primary {
    color: #e2b03a !important;
}

.article-title a {
    display: block;
    font-weight: 700;
    font-size: 45px;
    font-family: "Poppins", Arial, sans-serif;
    color: #000000;
    margin-bottom: 5px;
}

.meta p a {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.case {
    width: 100%;
    margin-bottom: 50px;
}

.case .img {
    height: 400px;
}

.case .text .text-area {
    margin-bottom: 20px;
}

.case .text .subheading {
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.case .text .author a {
    color: #e2b03a;
    font-size: 24px;
    text-decoration: none;
}

.author a{
    color: #e2b03a !important;
    font-size: 24px;
    text-decoration: none;
}

.case .text .meta p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
}

.case .text .meta p a {
    color: rgba(0, 0, 0, 0.2);
}

.pagination {
    padding:2px
}

.btn.btn-primary {
    background-color: #ffd369 !important;
    border: 1px solid #ffd369 !important;
    color: #fff !important;
}

.current .text-yellow {
    color: #ffd369 !important;
}

.form-control input{
    align-self: center;
}

.banner {
	padding: 3rem 0 2rem 0;
}

.banner h1 {
	font-size: 2.8rem;
}

.banner .btn {
	opacity: 0.8;
}

.banner .btn:hover {
	transition: 0.1s all;
	opacity: 1;
}

.banner .post-meta {
	margin: 2rem 0 0 0;
}

.banner .post-meta .author {
	color: #fff;
}

.comment-text {
    font-size: 5rem !important;
}